$logo-text: "JosefinSans-Bold";
$main-text: "Aleo-Light";
$small-text: "JosefinSans-Light";
$regular-text: "JosefinSans-Regular";
$logo-style: uppercase;
$color: #ffffff;
$blue: #5474fd;
$hover-blue: #496bfe;
